@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --cor-principal: #e5f1ff;
    --cor-secundaria: #fbffebd5;
    --cor-destaque1: #69b838;
    --cor-destaque2: #f8da14;
    --cor-destaque3: #2a66ad;
}

body {
    font-family: "Chakra Petch", sans-serif;
    color: var(--cor-principal);
}

.parallax-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('fundo_amarelado.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 2560px;
    z-index: -1;
    transform: translateY(0);
    will-change: transform;
}

.title1 {
    color: var(--cor-destaque2);
    pointer-events: none;
}

.title2 {
    color: var(--cor-destaque1);
    pointer-events: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
}

.custom-player {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1em;
}

.custom-player button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.body-hero {
    padding: 20px;
}

h1,
h2,
h5,
.bi {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead,
.btn-link {
    color: var(--cor-destaque1);
    font-weight: 700;
}

a,
.btn-link:hover {
    color: var(--cor-principal);
}

a:hover,
.bi-button:hover {
    color: var(--cor-destaque3);
}

canvas#fogos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: +1;
    pointer-events: none;
}


main {
    overflow-x: hidden;
}

.game-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 200px;
    margin: 10px auto;
    border: 2px solid #100c1f;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 50%) 100%);
}

#backgroundContainer {
    position: relative;
    width: 800px;
    height: 100%;
    overflow: hidden;
}

.bg-block {
    position: absolute;
    top: 0;
    height: 100%;
    width: 800px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#bull {
    width: 50px;
    height: 29px;
    background-image: url('../imagens/sprites/bull_running.gif');
    background-size: cover;
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.obj {
    transition: left 0.02s linear;
}

#obj {
    width: 20px;
    height: 40px;
    background-image: url('../imagens/modals/modal_1.png');
    background-size: cover;
    position: absolute;
    bottom: 10px;
    left: 800px;
    transition: left 0.02s linear;
}

@keyframes obj-movement {
    from {
        right: -50px;
    }

    to {
        right: 100%;
    }
}

.bull-active {
    animation: bull-jump 0.75s ease-out;
}

@keyframes bull-jump {
    0% {
        bottom: 10px;
    }

    50% {
        bottom: 400px;
    }

    100% {
        bottom: 10px;
    }
}

.start-screen,
.game-over {
    text-align: center;
    margin-top: 30px;
}

.hidden {
    display: none !important;
}