@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --cor-principal: #e5f1ff;
    --cor-secundaria: #fbffebd5;
    --cor-destaque1: #69b838;
    --cor-destaque2: #f8da14;
    --cor-destaque3: #2a66ad;
}

body {
    font-family: "Chakra Petch", sans-serif;
    color: var(--cor-principal);
}

.parallax-container {
    position: relative;
    min-height: 100%;
    width: 100%;
    z-index: 0;
}

.parallax-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('imagens/fundo/fundo_esverdeado.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 2560px;
    z-index: -1;
    transform: translateY(0);
    will-change: transform;
}

.title1 {
    color: var(--cor-destaque2);
    pointer-events: none;
}

.title2 {
    color: var(--cor-destaque1);
    pointer-events: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
}

.body-hero {
    padding: 20px;
}

h1,
h2,
h5,
.bi {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead,
.btn-link {
    color: var(--cor-destaque1);
    font-weight: 700;
}

a,
.btn-link:hover {
    color: var(--cor-principal);
}

a:hover,
.bi-button:hover {
    color: var(--cor-destaque3);
}